.infoContent {
    padding-left: 5%;

    .adminInfo {
        text-align: left;
    }
    .adminInfo tbody tr th{
        width: 50%;
        padding: 10px;
    }
    .adminInfo tbody tr:first-of-type th{
        padding: 8px;
        color: black;
    }
    .adminInfo tbody tr td{
        width: 50%;
        padding: 10px;
    }
    .adminInfo tbody tr:last-of-type td{
        text-align: left;
    }
}