.profile-container {
    border: 1px solid black;
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 10px;
    background: skyblue;
    border-radius: 25px;

    .top {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;

        .profile-img {
            border: 0.5px solid lightgray;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            z-index: 10;
            position: relative;
            left: 10px;
            background: white;
            padding: 2px;

            .profile-pic {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

        }

        .profile-card {
            position: relative;
            background: rgba(255, 255, 255, 0.774);
            border:0.5px solid lightgray ;
            width: 900px;
            height: 80px;
            border-radius: 50px;
            z-index: 0;
            right: 30px;
        }
    }
}