.contactContent{
  background-image: url('../images/welcomhotel-bhubaneswar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
}
.contactPageInfo {
  text-align: center;
  color: white;
  background-color: rgba(0,0,0, 0.7);
  width: 40%;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: 15%;
}
.footer{
  position: fixed;
  display: grid;
  grid-column: span;
  z-index: 5;
  width: 100%;
  bottom: 0;
  background-color: white;
  padding: 20px;
  font-weight: bold;
}
.footer table{
  border-spacing: 25px;
}