
.navBar{
    position: absolute;
    background-color: rgba(0,0,0, 0.7);
    border-radius: 25px;
    height: 50px;
    text-align: center;
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    align-items: center;
    margin-top: 40px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}
.navBarOption{
    display: block;
    text-decoration: none;
    color: white;
}

.activeTab{
    font-weight: bolder;
}