.landing {
    background-image: url('../images/aboutslider2-1.jpg');
    width: 100%;
}

.landing-container {
    padding: 20px;
}

.landing-text {
    text-align: center;
    color: white;
    background-color: rgba(0,0,0, 0.7);
    width: 40%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 10%;
    margin-bottom: 4.2%;
  }

  .hotel-name {
      font-size: 2.5rem;
  }

  .rns {
      font-size: 1rem;
  }

  .landing-text > span {
      font-size: 1.5rem;
  }


  .about-us {
      background-color: #f7eff1;
      padding: 40px;
      align-items: center;
  }

  .au-container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
  }

  .au-container > img {
      width: 50%;
      height: 500px;
  }

  .au-text {
      text-align: center;
  }

  .au-text > h2 {
      margin-top: 5%;
      font-size: 3rem;
  }

  .au-text > p {
      width: 450px;
      color: goldenrod;
      font-size: 1.5rem;
      margin-top: 5%;
  }