.widget {
    display: flex;
    justify-content: space-between;
    flex:1;
    padding: 15px;
    box-shadow: 2px 4px 5px 1px rgba(201, 201, 201, 0.47);
    -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.47);
    height: 100px;
    margin-right: 20px;

}