.Chart {
    margin-top: 20px;
    padding: 15px;
    border: 0.5px solid lightgray;
    border-radius: 20px;
    width: 600px;
    height: 300px;
    align-self: center;

    .chart-description{
        font-size: 14px;
        color: grey;
        margin: 0;
    }

    .chart-title {
        font-size: 30px;
        font-weight: 700;
    }
            
}






