.Chart {
    margin-top: 20px;
    padding: 10px;
    border: 0.5px solid lightgray;
    border-radius: 20px;
    background-color: #ffffff;
    flex: 1;

    .chart-description{
        font-size: 14px;
        color: grey;
        margin: 0;
    }

    .chart-title {
        font-size: 30px;
        font-weight: 700;
    }
            
}






