nav {
    display: flex;
    height: 50px;
    border-bottom: 0.5px solid rgb(253, 252, 252);
    align-items: center;
    color: #555;
    font-size: 14px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;


    .wrapper {
        width: 100%;
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: space-between;

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;

            input {
                border: none;
                outline: none;
                background: transparent;
                

                &::placeholder {
                    font-size: 14px;
                }
            }
        }

        .items {
            display: flex;

            .item {
                position: relative;
                display: flex;
                align-items: center;
                margin-right: 20px;
                cursor: pointer;

                .icon {
                    font-size: 23px;
                }

                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                .counter {
                    width: 13px;
                    height: 13px;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }
            }
        }
    }
}