.analytics-container {
    padding: 10px;
    display: flex;
    flex-direction: column;

    .top {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
    }

    .center {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .bottom {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .fcharts {
            display: flex;
            flex-direction: row;
            flex: 2;
            flex-wrap: wrap;
        }
    }
}