.titlecard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 70px;
    font-size: 40px;
    color: dodgerblue;
    text-align: center;
    font-weight: 600;
    border-radius: 25px;
}